.logo {
    position: absolute;
    left: 55px; 
    top: 18%; 
    border-radius: 50%; 
    overflow: hidden;
}
.logo img {
    width: 50px; 
    height: 50px; 
}.logoo {
    position: absolute;
    top: 0px;
    left: -100px;
    border-radius: 50%;
    overflow: hidden;
}.logoo img {
    width: 100px; 
    height: 100px; 
}.top-social {
    position: absolute;
    right: 10px;
    top: 30px; 
}.top-social a{
    color: white;
    margin-right: 6px;
}

/* Responsive Styling for Tablet and Mobile */
@media (max-width: 768px) {
    .logo {
        left: 20px; 
    }

    .logoo {
        left: 15px; 
        margin-top: -50px;
    }
}

@media (max-width: 480px) {
    .logo img, .logoo img {
        width: 40px; 
        height: 40px; 
    }
}
